<#@ template language="C#" hostspecific="true" #>
<#@ output extension=".cs" #>
<# 
  string ns = this.Host.ResolveParameterValue("", "", "namespace");
#>
using System;
using System.ComponentModel;
using ConventionTests;

namespace <#= ns #>.Tests.Conventions
{
    public class ViewModels_have_ViewModel_suffix_in_type_name : ConventionTest
    {
        private const string Suffix = "ViewModel";

        protected override ConventionData SetUp()
        {
            return new ConventionData
            {
                Types = t => t.Namespace != null && t.Namespace.StartsWith("<#= ns #>.Screens") && t.IsConcrete<INotifyPropertyChanged>(),
                Must = t => t.Name.EndsWith(Suffix),
                FailDescription = "ViewModels will not work unless the type is named {something}" + Suffix,
                FailItemDescription = t => String.Format("{0}. Name should be {1}{2} perhaps?", t, t.Name, Suffix)
            };
        }
    }
}